<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{theme.meta.enable} || {theme.language.enable} || {theme.copyright.enable} || {theme.socialmedia.enable} || {theme.footernavigation.enable} || {theme.contact.enable}">
        <section class="section footer-section footer-section-meta">
            <div class="frame frame-background-none frame-space-before-none frame-space-after-none">
                <div class="frame-group-container">
                    <div class="frame-group-inner">
                        <div class="frame-container frame-container-default">
                            <div class="frame-inner">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 text-lg-start">
                                        <p>
                                             <f:cObject typoscriptObjectPath="lib.copyright"></f:cObject>
                                        </p>
                                    </div>
                                    <div class="col-lg-4 my-3 my-lg-0">
                                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                    <div class="col-lg-4 text-lg-end">
                                        <a class="link-dark text-decoration-none me-3" href="#!">Datenschutz</a>
                                        <a class="link-dark text-decoration-none" href="#!">Impressum</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </f:if>
</html>

