<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">
                <f:cObject typoscriptObjectPath="lib.copyright"></f:cObject>
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <f:cObject typoscriptObjectPath="lib.socials"/>
            </div>
            <div class="col-lg-4 text-lg-end">
                <f:cObject typoscriptObjectPath="lib.datenschutz"/>
                <f:cObject typoscriptObjectPath="lib.impressum"/>
            </div>
        </div>
    </div>
</html>

<f:comment>
    <f:if condition="{theme.meta.enable} || {theme.language.enable} || {theme.copyright.enable} || {theme.socialmedia.enable} || {theme.footernavigation.enable} || {theme.contact.enable}">
        <section class="section footer-section footer-section-meta">
            <div class="frame frame-background-none frame-space-before-none frame-space-after-none">
                <div class="frame-group-container">
                    <div class="frame-group-inner">
                        <div class="frame-container frame-container-default">
                            <div class="frame-inner">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 text-lg-start">
                                        <f:cObject typoscriptObjectPath="lib.copyright"></f:cObject>
                                    </div>
                                    <div class="col-lg-4 my-3 my-lg-0">
                                        <f:cObject typoscriptObjectPath="lib.socials"/>
                                    </div>
                                    <div class="col-lg-4 text-lg-end">
                                        <f:cObject typoscriptObjectPath="lib.datenschutz"/>
                                        <f:cObject typoscriptObjectPath="lib.impressum"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </f:if>
</f:comment>