<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <f:render partial="Header/Logo" arguments="{_all}" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <f:render partial="Navigation/MainNavigation" arguments="{_all}" />
            </ul>
        </div>
    </div>
</nav>

<f:comment>
    <f:variable name="headerClass">bp-page-header navbar navbar-mainnavigation navbar-{theme.navigation.style}</f:variable>
    <f:variable name="headerClass">{headerClass}{f:if(condition: logo.normal, then:' navbar-has-image')}</f:variable>
    <f:variable name="headerClass">{headerClass}{f:if(condition: theme.navigation.type, else:' navbar-top', then:' navbar-{theme.navigation.type} navbar-fixed-{theme.navigation.type}')}</f:variable>
    <header id="page-header" class="{headerClass}">
        <div class="container">
            <f:render partial="Header/Logo" arguments="{_all}" />
            <f:if condition="{mainnavigation}">
                <f:render partial="Header/Toggle" arguments="{_all}" />
                <nav id="mainnavigation" class="collapse navbar-collapse">
                    <f:render partial="DropIn/Navigation/MainBefore" arguments="{_all}" />
                    <f:render partial="Navigation/MainNavigation" arguments="{_all}" />
                    <f:render partial="DropIn/Navigation/MainAfter" arguments="{_all}" />
                </nav>
            </f:if>
        </div>
    </header>
</f:comment>
</html>
