<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="col mb-4">
        <div class="topic-item">
            <a class="topic-link" href="">
                <div class="topic-hover">
                    <div class="topic-hover-content"></div>
                </div>
                <f:for each="{data.image}" as="file">
                    <f:image image="{file}" class="img-fluid"/>
                    {file.description}
                </f:for>
            </a>
            <div class="topic-caption">
                <a class="topic-caption-heading" href="#">
                    <f:if condition="{data.tx_mask_link_heading}">
                        {data.tx_mask_link_heading}
                    </f:if>
                </a>
            </div>
        </div>
    </div>

    <f:comment>
        <f:for each="{data.image}" as="file">
            <f:image image="{file}" width="200" />
            {file.description}
        </f:for>
        <f:if condition="{data.tx_mask_link_heading}">
            {data.tx_mask_link_heading}
        </f:if>
    </f:comment>

</html>

