<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Header"/>

<f:section name="Main">
    <section class="page-section bg-light" id="topicDescription">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">
                    <f:if condition="{data.tx_mask_topic_description_heading}">
                        {data.tx_mask_topic_description_heading}
                    </f:if>
                </h2>
                <p class="text-muted">
                    <f:if condition="{data.tx_mask_topic_description}">
                        {data.tx_mask_topic_description -> f:format.nl2br()}
                    </f:if>
                </p>
            </div>
        </div>
    </section>
</f:section>

<f:comment>
    <f:if condition="{data.tx_mask_topic_description_heading}">
        {data.tx_mask_topic_description_heading}
    </f:if>
    <f:if condition="{data.tx_mask_topic_description}">
        {data.tx_mask_topic_description -> f:format.nl2br()}
    </f:if>
</f:comment>

</html>

